body {
    background-color: #181B2F;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.upper-banner {
    background-color: #101322;
    padding: 20px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 75px;
    z-index: 1000; 
}

.upper-banner .container1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    height: 100%; 
}

.upper-banner .back-arrow {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    height: 30px;
    width: 30px;
}

.upper-banner .logo {
    height: 50px;
    width: 145px;
    object-fit: contain;
}


.container2 {
    margin-top: 100px;
    max-width: 100%;
    padding: 0 10px; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}


h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.table {
    background-color: #1c2039;
    color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table th, .table td {
    vertical-align: middle;
    border: none;
}

.table th {
    background-color: #2a2f4e;
    color: #FFFFFF;
    text-align: left;
    padding: 15px;
    font-size: 1.1em;
}

.table td {
    padding: 15px;
    border-top: 1px solid #2a2f4e;
}

.table-hover tbody tr:hover {
    background-color: #181B2F;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Modal styles */
.modal-content {
    background-color: #20243A;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.modal-header {
    border-bottom: 1px solid #44475A;
}

.modal-header .modal-title {
    color: #FFFFFF;
}

.modal-body {
    color: #FFFFFF;
}

.modal-footer {
    border-top: 1px solid #44475A;
}

.modal-footer .btn-secondary {
    background-color: #44475A;
    border-color: #44475A;
    transition: background-color 0.3s, border-color 0.3s;
}

.modal-footer .btn-secondary:hover {
    background-color: #5A5F78;
    border-color: #5A5F78;
}

.close {
    color: #FFFFFF; 
    outline: none; 
}

.close:hover,
.close:focus {
    color: #CCCCCC; 
}