body {
    background-color: #181B2F;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.upper-banner {
    background-color: #101322; 
    padding: 20px 0; 
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 90px;
    z-index: 1000; 
}

.upper-banner .container1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    height: 100%; 
}

.upper-banner .back-arrow {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    height: 30px;
    width: 30px;
}

.upper-banner .logo {
    height: 50px;
    width: 145px;
    object-fit: contain;
}

.container {
    margin-top: 110px; 
}

h1{
    margin-bottom: 20px;
    margin-left: 10px;
}

.row {
    justify-content: left; 
}

.game-card {
    background-color: #20243A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    padding: 20px; 
}

.game-card:hover {
    transform: scale(1.02); 
}

.game-photo {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    flex: 1; 
    padding-left: 20px; 
}

.card-title {
    font-size: 1.5rem;
    margin: 0; 
    text-align: left; 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 10px; 
}

.btn {
    width: 100px; 
    padding: 0.5rem 1rem;
}

.btn-primary {
    background-color: #28a745; 
    border: none;
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #6c757d; 
    border: none;
    color: #FFFFFF;
}

.modal-content {
    background-color: #20243A;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.modal-header {
    border-bottom: 1px solid #44475A;
}

.modal-header .modal-title {
    color: #FFFFFF;
}

.modal-body {
    color: #FFFFFF;
}

.modal-footer {
    border-top: 1px solid #44475A;
}

.modal-footer .btn-secondary {
    background-color: #44475A;
    border-color: #44475A;
    transition: background-color 0.3s, border-color 0.3s;
}

.modal-footer .btn-secondary:hover {
    background-color: #5A5F78;
    border-color: #5A5F78;
}

.close {
    color: #FFFFFF; 
    outline: none; 
}

.close:hover,
.close:focus {
    color: #CCCCCC; 
}

@media only screen and (max-width: 600px) {
    .upper-banner .container {
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between;
    }

    .upper-banner .logo {
        margin: auto; 
    }

    .container {
        margin-top: 100px;
    }

    .game-card {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }

    .game-photo {
        width: 100%; 
        height: auto; 
        border-radius: 15px; 
    }

    .card-body {
        padding-left: 0; 
        align-items: center; 
        text-align: center; 
    }

    .card-title {
        font-size: 1.25rem;
        margin-top: 10px; 
        text-align: center;
    }

    .button-container {
        align-items: center; 
        width: 100%; 
        margin-top: 10px; 
    }

    .btn {
        width: 100%; 
        margin-bottom: 10px; 
    }

}
