body {
    background-color: #181B2F;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.upper-banner {
    background-color: #101322; 
    padding: 20px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 75px;
    z-index: 1000; 
}

.upper-banner .container1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    height: 100%; 
}

.upper-banner .back-arrow {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    height: 30px;
    width: 30px;
}

.upper-banner .logo {
    height: 50px;
    width: 145px;
    object-fit: contain;
}

.container {
    margin-top: 20px;
}

.game-card {
    background-color: #20243A; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}

.game-photo {
    width: 90px; 
    height: 90px;
    margin-right: 20px;
    object-fit: cover; 
    border-radius: 15px;
}

.card-content {
    flex: 1;
}

.game-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.price {
    font-size: 1rem;
    color: #888;
    margin-top: 0;
}

h1 {
    margin-top: 90px;
    margin-bottom: 20px;
}

h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-details {
    background-color: #20243A; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.button-container {
    display: flex; 
   
    margin-top: 20px;
}

.btn-primary,
.cancel-button {
    background-color: #007bff;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


.btn-primary:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #dc3545;
    margin-left: 20px;
}

.cancel-button:hover {
    background-color: #c82333;
}

@media only screen and (max-width: 600px) {
    .upper-banner .container1 {
        flex-direction: column; 
        align-items: center; 
    }

    .button-container {
        flex-direction: column; 
        align-items: center; 
        margin-top: 10px; 
    }

    .btn-primary,
    .cancel-button {
        width: 290px; 
        margin: 5px 0;
    }
    
}
