body {
    background-color: #181B2F;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 90px;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 20px;
}

ol li {
    font-size: 16px;
    margin-bottom: 20px;
}

ol li strong {
    color: #ffffff;
    display: block;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.upper-banner {
    background-color: #101322; 
    padding: 20px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 75px;
    z-index: 1000; 
}

.upper-banner .container1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    height: 100%; 
}

.upper-banner .back-arrow {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    height: 30px;
    width: 30px;
}

.upper-banner .logo {
    height: 50px;
    width: 145px;
    object-fit: contain;
}
