<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pteam: Add Credit Card</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cardadd.css">
</head>
<body>
    <div class="upper-banner">
        <div class="container1">
            <a href="/users">
                <img src="/images/back.png" alt="BackToMain" class="back-arrow">
            </a>
            <img src="/images/logo.png" alt="Gaming Store Logo" class="logo">
        </div>
    </div>
    <div class="container2">
        <div class="card-preview">
            <img id="cardImage" src="/images/fro.png" alt="Credit Card" class="card-image">
            <div class="card-details">
                <div id="displayCardNumber" class="card-display card-number">#### #### #### ####</div>
                <div id="displayCardHolderName" class="card-display card-holder-name">CARDHOLDER NAME</div>
                <div id="displayExpirationDate" class="card-display expiration-date">MM/YY</div>
                <div id="displayCVV" class="card-display cvv">CVV</div>
            </div>
        </div>
        <form action="/addcard" method="post" id="cardForm">
            <div class="form-group" id="step1">
                <label for="cardNumber">Card Number:</label>
                <input type="text" id="cardNumber" name="cardNumber" class="form-control" placeholder="#### #### #### ####" maxlength="16" required>
                <div id="errorMessage" class="text-danger"></div> 

                <label for="cardHolderName">Cardholder Name:</label>
                <input type="text" id="cardHolderName" name="cardHolderName" class="form-control" placeholder="CARDHOLDER NAME" maxlength="20" required>
                <div id="errorMsg" class="text-danger"></div> 
                
                <label for="expirationDate">Expiration Date:</label>
                <input type="month" id="expirationDate" name="expirationDate" class="form-control" required>
                <div id="expiryErrorMessage" class="text-danger"></div>
                
                <button type="button" id="nextButton" class="btn btn-primary" disabled>Next</button>
            </div>
            <div class="form-group d-none" id="step2">
                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" name="cvv" class="form-control" minlength="3" maxlength="3" required pattern="\d*">
                <button type="submit" class="btn btn-primary">Add Card</button>
            </div>
        </form>
    </div>
    <script src="/js/cardaddscript.js"></script>
</body>
</html>
